.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/510B798D/console06/INDEX001
.Rproj.user/510B798D/pcs/windowlayoutstate.pper
results/temp_files/adj_matrix_beau_TC6.RData
results/temp_files/dissTOM_beau_TC6.RData
results/temp_files/sim_matrix_beau_TC6.RData
